<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <div class="game-content">
                <div>
                    <h1>Actual Player: </h1><p class="actualPlayer"></p>
                </div>
                <div class="grid">

                    <div class="cell"><button type="button" name="gameCell"></button></div>
                    <div class="cell"><button type="button" name="gameCell"></button></div>
                    <div class="cell"><button type="button" name="gameCell"></button></div>
                    <div class="cell"><button type="button" name="gameCell"></button></div>
                    <div class="cell"><button type="button" name="gameCell"></button></div>
                    <div class="cell"><button type="button" name="gameCell"></button></div>
                    <div class="cell"><button type="button" name="gameCell"></button></div>
                    <div class="cell"><button type="button" name="gameCell"></button></div>
                    <div class="cell"><button type="button" name="gameCell"></button></div>

                </div>
            </div>
        </div>
        <footer>
            Created by Bruno Rombolá
        </footer>
        <script src="/js/board.js"></script>
    </body>


</html>