<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        {{>header}}
        <div class="main-content">
        </div>


        <footer>
            Created by Bruno Rombolá
        </footer>
    </body>


</html>