<header>
    <h1>Welcome to Tic Tac Toe Online</h1>
        <div class="menu">
            <a href="/">Main Menu</a>
            <a href="/Game">Start Game</a>
            <a href="/Rules">Rules</a>
            <a href="/AboutMe">Creator</a>
        </div>
</header>